.speakingClock {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.clockBlock {
    width: 1500px;
    height: 500px;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;


}

.timeBlock {

}

.time {
    position: absolute;
margin-left: -180px;
margin-top: -30px;

    font-size: 100px;
    color: #041e3a;
    background-color: white;
}

.dateBlock {
    margin-top: 200px;
    position: absolute;
}

.date {
    color: #041e3a;
    background-color: white;
}

.switchSpan {
    margin-top: 300px;
    position: absolute;
    color: #041e3a;
    background-color: white;
}

.switch {

    background-color: white;
}