


.clockBlock {
    margin: 50px 300px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    background-color: white;
}


.time {

    padding: 15px;
    display: flex;
    justify-content: center;
    width: 200px;
    text-align: center;
    font-size: 100px;

    color: #041e3a;
    background-color: white;
    border-radius: 10%;

}

.dateBlock {

}

.date {
    color: #041e3a;
    background-color: white;
}